<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Online Signature Verification</title>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <div class="parallax-container" id="parallax-container">
      <div class="parallax">
        <img
          src="{{url_for('static', filename='cover2.jpg')}}"
          class="responsive-img"
        />
      </div>
    </div>

    <div class="row">
      <div class="col s10 offset-s1 z-depth-5 center-align card-panel padding">
        <br /><br /><br />
        <h1>ONLINE SIGNATURE VERIFICATION</h1>
        <br /><br /><br />
      </div>

      <div style="height: 300px;"></div>

      <div class="col s8 offset-s2 z-depth-5 card">
        <div class="card-content large waves-effect waves-block waves-light">
          <p class="flow-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex rem
            architecto, dolor repellendus mollitia, aperiam autem quam at
            nostrum iste fugiat temporibus dolores? Maxime ducimus quibusdam
            exercitationem, est necessitatibus rem! Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Exercitationem nobis velit modi rerum
            voluptatem optio, odio est voluptatibus iusto temporibus! Sunt
            officiis nulla non impedit, tempora praesentium voluptatum totam.
            Fugit!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex
            rem architecto, dolor repellendus mollitia, aperiam autem quam at
            nostrum iste fugiat temporibus dolores? Maxime ducimus quibusdam
            exercitationem, est necessitatibus rem! Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Exercitationem nobis velit modi rerum
            voluptatem optio, odio est voluptatibus iusto temporibus! Sunt
            officiis nulla non impedit, tempora praesentium voluptatum totam.
            Fugit! <br /><br />
          </p>

          <hr />

          <span class="card-title activator grey-text text-darken-4">
            <h4>
              VERIFY SIGNATURE<i class="medium material-icons right"
                >attach_file</i
              >
            </h4>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            ><h4>
              Please select a file to scan:<i class="material-icons right"
                >close</i
              >
            </h4></span
          >

          <br /><br /><br />

          <div class="container center-align">
            <form action="/predict" method="post" enctype="multipart/form-data">
              <input
                class="btn waves-effect waves-light grey darken-accent"
                type="file"
                name="signature_data"
              />
              <br /><br />
              <button
                class="waves-effect waves-light btn btn-large blue black-text"
                type="submit"
              >
                Upload file!
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".parallax").parallax();
      });
    </script>
  </body>
</html>
